{
    "global_sf": 512,
    "k": 15,
    "num_cols": 7,
    "inp_idxes": [
        0
    ],
    "out_idxes": [
        37
    ],
    "layers": [
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                0,
                7,
                1
            ],
            "inp_shapes": [
                [
                    1,
                    28,
                    28,
                    1
                ],
                [
                    8,
                    3,
                    3,
                    1
                ],
                [
                    8
                ]
            ],
            "out_idxes": [
                22
            ],
            "out_shapes": [
                [
                    1,
                    26,
                    26,
                    8
                ]
            ],
            "params": [
                0,
                1,
                3,
                1,
                1
            ],
            "mask": []
        },
        {
            "layer_type": "AveragePool2D",
            "inp_idxes": [
                22
            ],
            "inp_shapes": [
                [
                    1,
                    26,
                    26,
                    8
                ]
            ],
            "out_idxes": [
                23
            ],
            "out_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ]
            ],
            "params": [
                2,
                2,
                2,
                2
            ],
            "mask": []
        },
        {
            "layer_type": "Mul",
            "inp_idxes": [
                23,
                14
            ],
            "inp_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ],
                [
                    8
                ]
            ],
            "out_idxes": [
                24
            ],
            "out_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ]
            ],
            "params": [],
            "mask": []
        },
        {
            "layer_type": "Add",
            "inp_idxes": [
                24,
                15
            ],
            "inp_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ],
                [
                    8
                ]
            ],
            "out_idxes": [
                25
            ],
            "out_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ]
            ],
            "params": [
                0
            ],
            "mask": []
        },
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                25,
                8,
                2
            ],
            "inp_shapes": [
                [
                    1,
                    13,
                    13,
                    8
                ],
                [
                    16,
                    3,
                    3,
                    8
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                26
            ],
            "out_shapes": [
                [
                    1,
                    11,
                    11,
                    16
                ]
            ],
            "params": [
                0,
                1,
                3,
                1,
                1
            ],
            "mask": []
        },
        {
            "layer_type": "AveragePool2D",
            "inp_idxes": [
                26
            ],
            "inp_shapes": [
                [
                    1,
                    11,
                    11,
                    16
                ]
            ],
            "out_idxes": [
                27
            ],
            "out_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ]
            ],
            "params": [
                2,
                2,
                2,
                2
            ],
            "mask": []
        },
        {
            "layer_type": "Mul",
            "inp_idxes": [
                27,
                16
            ],
            "inp_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                28
            ],
            "out_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ]
            ],
            "params": [],
            "mask": []
        },
        {
            "layer_type": "Add",
            "inp_idxes": [
                28,
                17
            ],
            "inp_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                29
            ],
            "out_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ]
            ],
            "params": [
                0
            ],
            "mask": []
        },
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                29,
                9,
                3
            ],
            "inp_shapes": [
                [
                    1,
                    5,
                    5,
                    16
                ],
                [
                    16,
                    3,
                    3,
                    16
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                30
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ]
            ],
            "params": [
                0,
                1,
                3,
                1,
                1
            ],
            "mask": []
        },
        {
            "layer_type": "Mul",
            "inp_idxes": [
                30,
                18
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                31
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ]
            ],
            "params": [],
            "mask": []
        },
        {
            "layer_type": "Add",
            "inp_idxes": [
                31,
                19
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ],
                [
                    16
                ]
            ],
            "out_idxes": [
                32
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ]
            ],
            "params": [
                0
            ],
            "mask": []
        },
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                32,
                10,
                4
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    16
                ],
                [
                    4,
                    1,
                    1,
                    16
                ],
                [
                    4
                ]
            ],
            "out_idxes": [
                33
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ]
            ],
            "params": [
                0,
                1,
                3,
                1,
                1
            ],
            "mask": []
        },
        {
            "layer_type": "Mul",
            "inp_idxes": [
                33,
                20
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ],
                [
                    4
                ]
            ],
            "out_idxes": [
                34
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ]
            ],
            "params": [],
            "mask": []
        },
        {
            "layer_type": "Add",
            "inp_idxes": [
                34,
                21
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ],
                [
                    4
                ]
            ],
            "out_idxes": [
                35
            ],
            "out_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ]
            ],
            "params": [
                0
            ],
            "mask": []
        },
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                35,
                11,
                5
            ],
            "inp_shapes": [
                [
                    1,
                    3,
                    3,
                    4
                ],
                [
                    64,
                    3,
                    3,
                    4
                ],
                [
                    64
                ]
            ],
            "out_idxes": [
                36
            ],
            "out_shapes": [
                [
                    1,
                    1,
                    1,
                    64
                ]
            ],
            "params": [
                0,
                1,
                3,
                1,
                1
            ],
            "mask": []
        },
        {
            "layer_type": "Conv2D",
            "inp_idxes": [
                36,
                12,
                6
            ],
            "inp_shapes": [
                [
                    1,
                    1,
                    1,
                    64
                ],
                [
                    10,
                    1,
                    1,
                    64
                ],
                [
                    10
                ]
            ],
            "out_idxes": [
                37
            ],
            "out_shapes": [
                [
                    1,
                    1,
                    1,
                    10
                ]
            ],
            "params": [
                0,
                1,
                0,
                1,
                1
            ],
            "mask": []
        }
    ],
    "tensors": [
        {
            "idx": 1,
            "shape": [
                8
            ],
            "data": []
        },
        {
            "idx": 2,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 3,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 4,
            "shape": [
                4
            ],
            "data": []
        },
        {
            "idx": 5,
            "shape": [
                64
            ],
            "data": []
        },
        {
            "idx": 6,
            "shape": [
                10
            ],
            "data": []
        },
        {
            "idx": 7,
            "shape": [
                8,
                3,
                3,
                1
            ],
            "data": []
        },
        {
            "idx": 8,
            "shape": [
                16,
                3,
                3,
                8
            ],
            "data": []
        },
        {
            "idx": 9,
            "shape": [
                16,
                3,
                3,
                16
            ],
            "data": []
        },
        {
            "idx": 10,
            "shape": [
                4,
                1,
                1,
                16
            ],
            "data": []
        },
        {
            "idx": 11,
            "shape": [
                64,
                3,
                3,
                4
            ],
            "data": []
        },
        {
            "idx": 12,
            "shape": [
                10,
                1,
                1,
                64
            ],
            "data": []
        },
        {
            "idx": 14,
            "shape": [
                8
            ],
            "data": []
        },
        {
            "idx": 15,
            "shape": [
                8
            ],
            "data": []
        },
        {
            "idx": 16,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 17,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 18,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 19,
            "shape": [
                16
            ],
            "data": []
        },
        {
            "idx": 20,
            "shape": [
                4
            ],
            "data": []
        },
        {
            "idx": 21,
            "shape": [
                4
            ],
            "data": []
        },
        {
            "idx": 0,
            "shape": [
                1,
                28,
                28,
                1
            ],
            "data": []
        }
    ],
    "use_selectors": true,
    "commit": false
}
